.avatar_user{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 3px #666;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.errorAlert{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    transition: 2s;
}

.sidebar-active {
    background: #dc3545 !important;
}