.section-1{
	height: 800px;
	position: relative;
	margin:auto;
	width: 100%;
	background: url(../image/banner.png) no-repeat center;
	background-size: cover;
}

.login-container{
	height: 630px;
	width: 555px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid #FFF;
}

.login-form{
	width: 321px;
	margin: 60px auto;
}

.login-form input{
	padding: 20px;
	background:none;
	border: 1px solid #FFF;
	color: #FFF;
	height: 40px;
	width: 320px;
	margin-top: 20px;
}
.login-form input::placeholder{
	color: #FFF;
}

.login-btn{
	width: 320px;
	height: 40px;
	background: #C2D44E;
	border:none;
	color: #FFF;
	margin-top: 20px;
}
.fb-login-button{
	margin-top: 20px;
}

#google-login{
	margin-top: 20px;
}